<h1>Listing Clustered Wikis</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Year</th>
    <th>Project</th>
    <th>Page</th>
    <th>Views</th>
    <th>Bytes</th>
    <th>Cluster</th>
    <th colspan="8"></th>
  </tr>
 
  <% @clusters.each do |clus| %>
    <tr>
      <td><%= clus.month %></td>
      <td><%= clus.year %></td>
      <td><%= clus.project %></td>
      <td><%= clus.page %></td>
      <td><%= clus.views %></td>
      <td><%= clus.bytes %></td>
      <td><%= clus.cluster %></td>
    </tr>
  <% end %>
</table>
