<h1>
  <a href="http://<%= @project %>.org/wiki/<%= @wiki.page %>"><%= @wiki.project %> <%= @wiki.page %></a>
</h1>

<table class="table table-striped">
  <tr>
    <th>Views</th>
    <th>Total Bytes</th>
    <th>Month</th>
    <th>Day</th>
    <th>Year</th>
  </tr>
  <% @wiki.wikiviews.each do |view| %>
    <tr>
      <td><%= view.views %></td>
      <td><%= view.bytes / view.views %></td>
      <td><%= view.month %></td>
      <td><%= view.day %></td>
      <td><%= view.year %></td>
    </tr>
  <% end %>
</table>
