<!DOCTYPE html>
<html>
  <head>
    <title>Wikimining</title>
    <link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>

    <%= render "shared/nav_bar" %>

    <!--
    <div class="container">
      <div class="row">
        <div class="col-md-18">
          < yield >
        </div>
      </div>
    </div>
    -->
    <%= yield %>

  </body>
</html>
